<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibraryService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILibraryService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILibraryService" contract="LibraryServiceReference.ILibraryService"
                name="BasicHttpBinding_ILibraryService" />
            <endpoint address="net.tcp://localhost:8090/LibraryService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILibraryService" contract="LibraryServiceReference.ILibraryService"
                name="NetTcpBinding_ILibraryService">
                <identity>
                    <userPrincipalName value="DESKTOP-CIU5GDV\Czaro" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>